name: Python CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Docker Image (Test Build)
        run: docker build -t python-app .

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3 # Updated to a newer version
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/python-ci-cd-app || exit
            git pull origin main
            docker stop python-app || true
            docker rm python-app || true
            docker build -t python-app .
            docker run -d -p 80:5000 --name python-app python-app
